body {
    background-color: rgb(141, 241, 146);
    text-align: justify;
}

h1 {
    color: rgba(10, 10, 10, 0.788);
    text-align: center;
}

h2 {
    color: rgb(59, 10, 175);
    text-decoration: double; text-align: left;
    
}

h5{ 
    font-size: xx-large;
       text-align:center;
}

h3 {
    text-align: center;
    
}

h4{
    color: rgb(6, 2, 20);
    text-align: center;
}

p {
    font-size: 30px;
}

.fotos { 
    display: block;
    width: 10%;
    height: 10%;

}

li::marker {
    content: "\2606";
    color:black;
    font-size: 30px;
}

.itens {
    background-color: rgb(67, 253, 191);
    color: rgb(10, 9, 7);
  
}

ul {
    display: inline-block;
    vertical-align: top;
    margin: 5%;
}